<div class="contact-me-view">
    <div class="sm-card-container">
        <!-- <app-glass-card [altBG]="true" [contentPadding]=".5"> -->
            <app-sm-display [includeDescription]="true" [containerPadding]="20" [iconFont]="80" [socialLink]="'https://www.linkedin.com/in/thomas-haley-036947197/'" [bsSocialIcon]="'linkedin'">LinkedIn</app-sm-display>
        <!-- </app-glass-card> -->
        <app-sm-display [includeDescription]="true" [containerPadding]="20" [iconFont]="80">GitHub</app-sm-display>
    </div>
    <app-glass-card >
        <app-contact-me-form [formTag]="'contact-form'"></app-contact-me-form>
    </app-glass-card>
</div>
