<div class="media-card-container card-ds {{this.cardData.mediaPosition == 'left' ? 'mobile-flex-start' : ''}}" >
    
    @if(this.cardData.mediaPosition == "left" && this.cardData.media != "")
    {
        <div class="media-container media-center">
            @if(this.cardData.media)
            {
                <!-- Handle static media -->
                <app-static-media [mediaPath]="this.cardData.media"></app-static-media>
            } @else { 
                <!-- Handle media url -->
            }
        </div>
    }

    <div class="content-container p-8 {{this.cardData.media == '' ? 'full-width' : ''}}">
        <div class="media-card-text-container">
            <div class="title-container {{this.cardData.mediaPosition != 'left' ? 'just-end' : ''}}" >
                <h1 class="card-title">{{this.cardData.title!}}</h1>
            </div>
            <div class="description-container">
                <p>{{this.cardData.description}}</p>
            </div>
        </div>
    </div>

    @if(this.cardData.mediaPosition == "right" && this.cardData.media != "")
    {
        <div class="media-container media-center"> 
            @if(this.cardData.media)
            {
                <!-- Handle static media -->
                <app-static-media [mediaPath]="this.cardData.media"></app-static-media>
            } @else { 
                <!-- Handle media url -->
            }
        </div>
    }
</div>
