<!-- @if(this.config() != null)
{

    @for(card of this.config()!['content_containers'][listTag]; track $index)
    {
        @if(card.visible)
        {
            <app-media-caption-card [cardData]="card"></app-media-caption-card>
        }
    }

    
} -->

@if(this.content() != null)
{
    <!-- Settings to be able to add/remove content -->
    @if(this.accountService.currentUser()){
        <app-list-content-edit [listTag]="listTag"></app-list-content-edit>
    }
    @if(this.content()!.content != null)
    {
        @for(content of this.content()!.content; track $index)
        {
            @if(content.visible)
            {
                <app-media-caption-card [cardData]="content"></app-media-caption-card>
            }
        }
    }
}