

.content-modal{
    /* color: black; */
    margin: 16px;
    width: 50vw;
    max-width: 800px;
}

label{
    margin-right: 8px;
    width: fit-content;
    font-weight: bold;
}

.textarea-input{
    height: 15vh;
    resize: none;

}