

<app-glass-card>
    <div class="login-form-cont">

      <form (ngSubmit)="login()" class="form-floating my-2 login-form test">
        <!-- <h1 class="h3 mb-3 fw-normal text-center">Sign in</h1> -->
    
        <!-- <div class="form-floating my-2 login-form"> -->
          <input type="text" class="form-control text-input-field-md input-form-field" [(ngModel)]="model.username" name="username" id="floatingInput" placeholder="Username">
          <!-- <label for="floatingInput">Username</label> -->
          <input type="password" name="password" [(ngModel)]="model.password" class="form-control text-input-field-md input-form-field" id="floatingPassword" placeholder="Password">
          <!-- <label for="floatingPassword">Password</label> -->
          <div class="form-submit-button-cont">
            <button class="w-100 btn btn-lg btn-primary form-submit-btn-md form-submit-button" type="submit">Submit</button>
          </div>
        <!-- </div> -->
    
      </form>
    </div>
  </app-glass-card>
