.app-cont
{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 95%;
    overflow: auto;
}

app-light-dark-selector
{
    position: fixed;
    right: 0px;
    z-index: 15;
    bottom: 0px;
    margin-bottom: 1vh;
    margin-right: 1vw;
}

contact-me{
    height: inherit;
}

.navbar
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 5%;
    
    z-index: 20;
}

.router-out{
    width: 100%;
    height: 95%;
    top: 5%;
}

.navbar-collapse
{
    visibility: hidden;
}

@media only screen and (max-width: 720px)
{
    .navbar
    {
        display: none;
    }

    .navbar-collapse
    {
        visibility: visible !important;
    }

    .app-cont
    {
        height: 100%;
        margin-top: 5vh;
    }
}
