<div
class="d-grid grid-2-c glass-card list-banner"
>
    <div
    class="edit-action-cont left-cont"
    >
        <div>
            <select class="input-form-field" name="current-content" [(ngModel)]="selectedCurrentContent">
                <option value="{{-1}}">Create new content</option>
                @for(content of this.currentContentOptions(); track $index){
                    <option value="{{content.id}}">{{content.title}}</option>
                }
            </select>
        </div>
        <div>
            @if(this.selectedCurrentContent == "-1"){
                <button class="form-submit-button" (click)="handleCreateClick()">Create</button>
            } @else {
                <button class="form-submit-button" (click)="handleEditClick()">Edit</button>
                <button class="form-submit-button" (click)="removeContent()">Remove</button>
            }
        </div>

    </div>
    <div 
    class="edit-action-cont right-cont"
    >

        <select class="input-form-field" [(ngModel)]="selectedBindContent">
            <option value="{{-1}}">Select content to add to list...</option>
            @for(content of this.addContentOptions(); track $index){
                <option value="{{content.id}}">{{content.id}} - {{content.title}}</option>
            }
        </select>
        <button class="form-submit-button" (click)="bindNewContent()">Add</button>
    </div>
</div>