<div
style="
display: grid;
grid-template-columns: 1fr 1fr;
position: relative;
background-color: red;
margin-top: 1em;
z-index: 25;
">
    <div
    style="display: flex;
    justify-content: start;">
        <select name="current-content" [(ngModel)]="selectedCurrentContent">
            <option value="{{-1}}">Create new content</option>
            @for(content of this.currentContentOptions(); track $index){
                <option value="{{content.id}}">{{content.title}}</option>
            }
        </select>
        @if(this.selectedCurrentContent == "-1"){
            <button (click)="handleCreateClick()">Create</button>
        } @else {
            <button (click)="handleEditClick()">Edit</button>
            <button (click)="removeContent()">Remove</button>
        }

    </div>
    <div style="
    display: flex;
    justify-content: end;
    ">

        <select>
            <option value="{{-1}}">Add New Content</option>
            @for(content of this.addContentOptions(); track $index){
                <option value="{{content.id}}">{{content.id}} - {{content.title}}</option>
            }
        </select>
        <button (click)="openDialog('new', null)">Add</button>
    </div>
</div>